*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

img{
    width: 400px;
}

div{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: center;

}

h1{
    font-size: 40px;
    color: midnightblue;
}