*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Belanosima';
}

img{
    width: 200px;
    border-radius: 10px;
}

body{
    background-color: black;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;

}

h1{
    font-size: 40px;
    color: rgb(1, 218, 19);
    margin-top: 2%;
}

.button{
    border-radius: 10px;
    background-color: rgb(211, 211, 211);
    color: darkgreen;
    font-size: 20px;
    font-weight: bold;
    padding: 1% 2%;
    margin-top: 2%;
}

.button:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.596);
}

h3{
    color: white;
    margin-top: 5%;
}

p{
    color: white ;
}

ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

li{
    margin: 4%;
}